<%= @recipe.name %>
<p><%= @recipe.content %></p>
<p><%= @recipe.cook.time %></p>
<form class="" action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%= @recipe.name %>" >
  <input type="text" name="ingredients">
  <input type="number" name="cook_time" value="">
  <input type="submit" value="submit">  
</form>